/* ==========================================================================
   Colonial theme skin
   ========================================================================== */

/* Colors */
$base-color: #121810 !default;
$text-color: #eaeaea !default;
$accent-color: #84b27c !default;
$background-color: #4c6647 !default;
$code-background-color: #fff !default;
$border-color: rgba($text-color, 0.5) !default;
$overlay-color: #fff !default;