---
layout: default
---

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <div class="entry-wrap">
      <div class="entry-content">
        {{ content }}
        <a href="https://discord.gg/6UzjHJWdJN" class="btn">Join the 44th Discord!</a>
        <a href="https://discord.gg/HpAmKBWwav" class="btn">Join the 501st Discord!</a>
        <iframe src="https://discord.com/widget?id=1019703734588166294&theme=light" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
      </div>
      <aside class="entry-sidebar">
        {% include author %}
        {% if author_picture %}
          <img class="author-picture" src="{{ author_picture }}" alt="{{ author_name }}">
        {% endif %}
      </aside>
    </div>
  </div>
</main>
