---
layout: default
---

{% include page-intro.html %}

<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <div class="entry-wrap">
      <div class="entry-content">
        {{ content }}
      </div>
      <aside class="entry-sidebar">
        {% include author %}
        {% if author_picture %}
          <img class="author-picture" src="{{ author_picture }}" alt="{{ author_name }}">
        {% endif %}
        <a href="https://discord.gg/6UzjHJWdJN" class="btn">Join the 44th Discord!</a>
        <a href="https://discord.gg/HpAmKBWwav" class="btn">Join the 501st Discord!</a>
      </aside>
    </div>
  </div>
</main>
